/* Service Components */
.service {
    background-color: var(--light-color);
    padding: 30px 20px;
    border-radius: var(--radius-max);
    box-shadow: var(--shadow);
    transition: all var(--transition);
}

.service:hover {
    background-color: var(--primary-color);
}

.service:hover h5,
.service:hover p {
    color: var(--light-color);
}

.service h5 {
    font-weight: 700;
    color: var(--secondary-color);
}

.service p {
    font-weight: 600;
}

.service .service-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: var(--radius-min);
    box-shadow: var(--shadow-light);
    background-color: var(--light-color);
}
