@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

:root {
    --background-color: #f1f0fd;
    --primary-color: #003084;
    --primary-color-light: #5a60ea;
    --secondary-color: #ff7101;
    --light-color: #ffffff;
    --gray-color: #c1c1c1;
    --shadow: rgba(0, 0, 0, 0.13) 1.95px 1.95px 2.6px;
    --shadow-light: rgba(10, 10, 10, 0.144) 0px 8px 24px;
    --shadow-light-dark: rgba(0, 0, 0, 0.158) 3px 3px 20px;
    --transition: 0.5s;
    --radius-max: 15px;
    --radius-min: 10px;
}

/* Common Tag Styles */
html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2.3rem;
    font-weight: 800;
}

h2 span {
    color: var(--secondary-color);
}

.btn {
    color: var(--light-color) !important;
    border: none !important;
    border-radius: 30px !important;
    padding: 10px 30px !important;
    font-weight: 700 !important;
    transition: var(--transition) !important;
    background-size: 200% auto;
}

/* Common Class Styles */
.custom-btn {
    background-image: linear-gradient(
        to bottom left,
        var(--primary-color-light) 0%,
        var(--primary-color) 51%,
        var(--primary-color-light) 100%
    );
    box-shadow: var(--shadow-light);
}

.custom-btn:hover {
    background-position: bottom center;
    text-decoration: none;
    box-shadow: var(--shadow);
}

.custom-btn:active {
    transform: translateY(4px);
}

.custom-btn:focus {
    box-shadow: none;
}

.custom-group-btn {
    background-color: var(--gray-color);
    display: inline-block;
    border-radius: 30px;
}

.custom-group-btn .btn {
    box-shadow: none !important;
}

.custom-group-btn .parcel-btn {
    background-color: var(--secondary-color) !important;
}

.custom-group-btn .food-btn {
    background-color: transparent !important;
    padding-left: 15px !important;
}

/* Navbae Component */
.nav-bar .nav-link {
    color: var(--primary-color) !important;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
}

.nav-bar .navbar-brand {
    height: 60px;
}

.nav-bar .custom-btn {
    margin-left: 25px;
}

/* Clients Component */
.clients img {
    transition: all var(--transition);
}

.clients img:hover {
    transform: translate3d(0, -10px, 0);
}

/* Service Component */
.service {
    background-color: var(--light-color);
    padding: 30px 20px;
    border-radius: var(--radius-max);
    box-shadow: var(--shadow);
    transition: all var(--transition);
    height: 230px;
}

.service:hover {
    background-color: var(--primary-color);
}

.service:hover h5,
.service:hover p {
    color: var(--light-color);
}

.service h5 {
    font-weight: 700;
    color: var(--secondary-color);
}

.service p {
    font-weight: 600;
}

.service .service-icon {
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: var(--radius-min);
    box-shadow: var(--shadow-light);
    background-color: var(--light-color);
}

/* Get To Know Component */
.get-to-know {
    background-color: var(--light-color);
    padding: 15px 10px;
    border-radius: var(--radius-max);
    height: 150px;
    box-shadow: var(--shadow);
    transition: all var(--transition);
}

.get-to-know:hover {
    box-shadow: var(--shadow-light-dark);
}

.get-to-know .count {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--secondary-color);
}

/* Footer Component */
.footer .footer-logo {
    height: 60px;
    display: inline-block;
}

/* Footer Item Component */
.footer-item h5 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer-item .footer-list {
    color: var(--primary-color);
    margin-bottom: 10px;
    display: inline-block;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .nav-bar .custom-btn {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
    .services {
        margin-bottom: 0 !important;
    }
}
